@use "../../assets/styles/colors";
@use "../../assets/styles/constants";
@use "../../assets/styles/mixins";

.container {
  border-radius: 20px;
  background-color: white;
  padding: 2.5rem;
  display: flex;
  flex-flow: column nowrap;
  gap: 24px;
  min-width: 280px;
  max-width: 450px;
  width: 90%;

  .title {
    display: flex;
    align-items: center;
    flex: 1;
    color: black;

    h2 {
      font-weight: 700;
      margin: 0;
      flex: 1;
    }

    svg {
      @include mixins.hover-lighten;
    }
  }

  h5 {
    font-size: 1.25rem;
    font-weight: 500;
    margin: 0;
    color: black;
  }
}

.item {
  display: flex;
  flex-flow: column nowrap;
}

.itemSmall {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

.deadline {
  display: flex;
  flex-flow: row wrap;
  gap: 0.5rem;
  align-items: center;
  justify-content: center;
  padding: 1rem;

  .smallerInput {
    width: 62px;
    height: 32px;
    font-size: 1.125rem;
  }

  span {
    font-size: 1.125rem;
    color: colors.$primary-dark-color;
    font-weight: 500;
  }
}

.slippage {
  display: flex;
  flex-flow: row wrap;
  gap: 0.5rem;
  align-items: center;
  justify-content: center;
  padding: 1rem;

  &Item {
    font-size: 1.25rem;
    font-weight: 700;
    cursor: pointer;
    width: 86px;
    height: 42px;
    border-radius: 21px;
    background-color: colors.$border-color;
    color: colors.$primary-color;
    transition: background-color 0.2s, color 0.2s;
    display: flex;
    align-items: center;
    justify-content: center;

    &Selected {
      color: white;
      background-color: colors.$primary-color;
    }
  }
}
