@use "../../assets/styles/colors";
@use "../../assets/styles/mixins";
@use "../../assets/styles/constants";

.panel {
  border: solid 2px colors.$border-color;
  border-radius: constants.$border-radius;
  padding: 2rem 3rem;
  display: flex;
  background-color: white;
  flex-flow: column nowrap;
  max-width: 400px;
  min-width: 270px;
  min-height: 500px;
  max-height: 500px;
  width: 30%;
  gap: 1rem;

  hr {
    width: 100%;
    border: none;
    border-top: 1px solid colors.$border-color;
  }
}

.header {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;

  .text {
    h2 {
      margin: 0 0 1rem;
      font-weight: 700;
    }

    span {
      font-size: 1rem;
      font-weight: 500;
    }
  }

  .actions {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    gap: 0.5rem;

    svg {
      @include mixins.hover-lighten;
    }
  }
}

.addLiquidity {
  align-self: flex-start;
  width: 200px;
}

.list {
  display: flex;
  flex-flow: column nowrap;
  gap: 1rem;
  overflow: scroll;
  justify-content: flex-start;
  flex: 1;

  @include mixins.hide-scrollbar;

  h3 {
    margin: 0;
  }

  .item {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    padding: 0.25rem;
    border-radius: 1rem;
    z-index: 1;

    @include mixins.hover-background;

    img {
      max-width: 1.625rem;
      max-height: 1.625rem;
      min-width: 1.625rem;
      min-height: 1.625rem;

      @include mixins.round-image;
    }

    span {
      flex: 1;
      font-weight: 700;
      margin: 0 0.75rem;
    }

    svg {
      transition: transform 0.2s;
      cursor: pointer;
      margin-right: 0.5rem;
    }

    .expandedChevron {
      transform: rotate(-180deg);
    }
  }

  .details {
    flex-shrink: 0;
    display: flex;
    flex-flow: column nowrap;
    gap: 0.5rem;
    z-index: 0;

    .info {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-auto-rows: 18px;
      font-size: 0.875rem;
      color: colors.$primary-dark-color;
      font-weight: 500;
      gap: 0.5rem;

      span {
        display: inline-flex;
        align-items: center;
        justify-content: flex-end;
        gap: 4px;

        img {
          max-width: 1rem;
          max-height: 1rem;
          min-width: 1rem;
          min-height: 1rem;

          @include mixins.round-image;
        }
      }
    }

    .actions {
      width: 100%;
      display: flex;
      flex-flow: row wrap;
      justify-content: center;
      gap: 1rem;
    }
  }
}

.emptyList {
  flex: 1;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  color: rgba(white, 0.6);
}

.enter,
.appear {
  transform: translateY(-50px);
  opacity: 0;
}

.enterActive,
.appearActive {
  transform: translateY(0);
  opacity: 1;
  transform-origin: top center;
  transition: transform 0.3s, opacity 0.3s;
}

.exit {
  transform: translateY(0);
  opacity: 1;
}

.exitActive {
  opacity: 0;
  transform: translateY(-50px);
  transform-origin: top center;
  transition: transform 0.3s, opacity 0.3s;
}
