@use "../../assets/styles/colors";
@use "../../assets/styles/constants";
@use "../../assets/styles/mixins";

.container {
  border-radius: 20px;
  background-color: white;
  padding: 2.5rem;
  display: flex;
  flex-flow: column nowrap;
  gap: 24px;
  min-width: 280px;
  max-width: 500px;

  .title {
    display: flex;
    align-items: center;
    color: darkblue;
    flex: 1;

    h2 {
      font-weight: 700;
      margin: 0;
      flex: 1;
    }

    svg {
      @include mixins.hover-lighten;
    }
  }
}

.tokensList {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  max-height: 300px;
  min-height: 300px;
  min-width: 300px;
  max-width: 300px;
  overflow: auto;
  gap: 0.75rem;
  padding: 0.5rem;
  border-top: 1px solid colors.$border-color;

  @include mixins.hide-scrollbar;

  .token {
    height: 2rem;
    padding: 0.25rem;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    gap: 0.5rem;
    border-radius: 1rem;
    font-size: 1rem;
    font-weight: 700;

    @include mixins.hover-background;

    img {
      @include mixins.round-image;

      max-height: 2rem;
      max-width: 2rem;
      min-height: 2rem;
      min-width: 2rem;
    }

    .name {
      flex: 1;
      color: darkblue;
    }

    .value {
      color: colors.$primary-color;
    }
  }
}
