#ton-connect-button {
    border: 1px soild white !important;
}
#ton-connect-button button {
    background-color: #662483;
    border-radius: 5px !important;
}
#ton-connect-button button:hover {
    border: 1px soild white !important;
}
#ton-connect-button button div {
    color: whitesmoke;
}
