@use "../../assets/styles/colors";
@use "../../assets/styles/constants";
@use "../../assets/styles/mixins";

.border-solid {
  border: 1px solid rgba(255, 255, 255, 0.13) !important;
}
.selected {
  display: block;
  border-radius: 12px;
  padding-bottom: 8px;
  padding-top: 8px;
  text-align: center;
  background-color: #74de9f;
  box-shadow: rgba(0, 0, 0, 0.08) 0px 3px 3px -1px,
    rgba(0, 0, 0, 0.08) 0px 1px 1px 0px;
  width: 50%;
  user-select: none;
  cursor: pointer;
  opacity: 1;

  div {
    transition: color 0.25s ease 0s;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: inherit;
    text-transform: inherit;
    white-space: pre-wrap;
  }
}
.selected:hover {
  opacity: 0.7;
  div {
    color: rgb(7, 7, 28);
  }
}
.unselected {
  display: block;
  border-radius: 12px;
  padding-bottom: 8px;
  padding-top: 8px;
  text-align: center;
  box-shadow: unset !important;
  background: transparent !important;
  width: 50%;
  user-select: none;
  cursor: pointer;
  opacity: 1;

  div {
    transition: color 0.25s ease 0s;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: inherit;
    text-transform: inherit;
    white-space: pre-wrap;
    color: whitesmoke;
  }
}

.border-bottom-color {
  border-color: linear-gradient(
      93.46deg,
      rgb(42, 171, 238) 16.94%,
      rgb(12, 207, 207) 97.24%
    )
    left bottom / 100% 4px no-repeat transparent;
}

.balance_div {
  display: grid;
  grid-auto-flow: column;
  gap: 10px;
  font-size: 10px;
  line-height: 10px;
  letter-spacing: inherit;
  text-transform: inherit;
  text-align: left;
  white-space: pre-wrap;
  color: rgb(255, 255, 255);
}

.amount_div {
  display: grid;
  grid-auto-flow: column;
  gap: 10px;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: inherit;
  text-transform: inherit;
  white-space: pre-wrap;
  text-align: right;
  color: rgb(255, 255, 255);
}
.submit-button {
  border-radius: 4px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
