version: '3.8'

services:
  postgres:
    image: postgres:16.1
    container_name: postgres
    restart: always
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - 5432:5432
    environment:
      POSTGRES_USER: doadmin
      POSTGRES_PASSWORD: password
      POSTGRES_DB: limitorderdex

volumes:
  postgres_data:
