@use "../../assets/styles/colors";
@use "../../assets/styles/mixins";

.container {
  border-radius: 14px;
  border: 1px solid colors.$border-color;
  padding: 0.875rem 1rem;
  display: flex;
  flex-flow: row nowrap;
  gap: 10px;
}

.verticalLine {
  min-width: 2px;
  min-height: 100%;
  background-color: colors.$primary-color;
}

.input {
  display: flex;
  flex-flow: column nowrap;
  flex: 1;
  gap: 4px;

  input {
    padding: 0;
    font-size: 1rem;
    font-weight: 500;
    border: none;
    outline: none;
    background-color: transparent !important;
    appearance: none;
    color: colors.$primary-dark-color;
    width: 100%;

    &::-webkit-inner-spin-button,
    &::-webkit-outer-spin-button {
      appearance: none;
    }
  }
}

.selector {
  display: flex;
  flex-flow: column nowrap;
  gap: 4px;
  justify-content: space-between;

  @include mixins.hover-lighten;

  .coin {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    gap: 10px;

    img {
      @include mixins.round-image;

      display: inline;
      min-width: 2rem;
      min-height: 2rem;
      max-height: 2rem;
      max-width: 2rem;
    }

    span {
      font-weight: 900;
      color: black;
      font-size: 1.125rem;
    }
  }

  .balance {
    font-size: 0.75rem;
    font-weight: 500;
    text-align: end;
  }
}
