@use "../../assets/styles/colors";
@use "../../assets/styles/constants";
@use "../../assets/styles/mixins";

.container {
  border-radius: constants.$border-radius;
  background-color: whitesmoke;
  padding: 2.5rem;
  display: flex;
  flex-flow: column nowrap;
  gap: 24px;
  min-width: 280px;
  max-width: 450px;
  width: 90%;

  .title {
    display: flex;
    align-items: center;
    flex: 1;
    color: black;

    h2 {
      font-weight: 700;
      margin: 0;
      flex: 1;
    }

    svg {
      @include mixins.hover-lighten;
    }
  }
}

.transactionSummary {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  font-weight: 700;
  font-size: 1rem;
  gap: 10px;
  color: black;

  span {
    display: inline-flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: flex-start;
    gap: 0.5rem;
    color: black;
  }

  label {
    justify-self: end;
    color: black;
  }

  img {
    max-width: 1.5rem;
    max-height: 1.5rem;
    min-width: 1.5rem;
    min-height: 1.5rem;

    @include mixins.round-image;
  }

  svg {
    stroke: colors.$border-color;
    width: 1.5rem;
    height: 0.875rem;
  }
}

.estimation {
  font-weight: 500;
  font-style: italic;
  text-align: justify;
  margin: 0 0 1rem;
  font-size: 1rem;
  color: black;

  strong {
    font-weight: 700;
    color: colors.$primary-color;
  }
}

.transactionInfo {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: 20px;
  gap: 0.5rem;
  font-size: 1rem;
  color: black;

  label {
    font-weight: 500;
  }

  span {
    font-weight: 700;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: flex-end;
    gap: 8px;

    img {
      min-width: 1.5rem;
      min-height: 1.5rem;
      max-width: 1.5rem;
      max-height: 1.5rem;

      @include mixins.round-image;
    }
  }
}
